form{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

input[type="text"]{
    width: 100px;
}

input[type="date"] {
    width: 150px;
}

input[type="file"] {
    width: 200px;
}

button[id="enviarBtn"] {
    width: 100px;
    height: 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}