form{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

input[type="text"]{
    width: 200px;
}

input[type="date"] {
    width: 225px;
}

input[type="file"] {
    width: 300px;
}

button[id="enviarBtn"] {
    width: 100px;
    height: 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
nav{
    background: #1858cd;
}
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 1;
    letter-spacing: 2px;
    padding-left: 10px;
}

nav li {
    font-size: 20px;
    padding: 5px;
}
nav li a {
    color: #fff;
    text-decoration: none;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;

}
body{
    background-color: #e6e6e6;
}
label{
      font-weight: bold;
}
